#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
.table {
  margin-top: 20px;
  width: 100%;
  /* border: 1px solid #dfdfdf; */
}

.table thead th {
  padding: 0;
  margin: 0;
  /* border: 1px solid #dfdfdf; */
}
.header {
  background-color: #efefef;
  padding: 4px 0;
  margin-bottom: 20px;
}

.header h3 {
  margin: 0;
}